@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'SF-Pro-Display';
  src: url('/fonts/SF-Pro-Display-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #F3F3F3;
  font-family: 'SF-Pro-Display', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
